.problem {
  background-color: #0DCAF0;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.problem:hover {
  background-color: #003A50;
}
.problems {
  text-decoration: none;
}
