.blog-image img{
width: 90%;
}
.blog{
    border-radius: 5%;
    padding: 10px 5px;
    height:100%;
    border: 1px solid lightgray;
    cursor: pointer;
}
.blogs{
    margin-top:30px;
    transition: 0.7s;
}
.blog-container{
   margin-bottom: 100px;
}
.blogs:hover{
    margin-top:5px;
}